@import "template/vars";

@import "@fontsource/righteous";
@import "@fontsource/roboto";
@import "@fontsource/raleway/400.css";
@import "@fontsource/roboto/900.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/300.css";

* {
  padding: 0;
  margin: 0;
}

body {
  background: $background;
}

html,body {
  //height: 100%;
}
#__next {
  //height: 100%;
}
